.snake{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    background-color: darkgreen;
    left : 0;
    top : 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.food{
    width: 20px;
    height: 20px;
    background-color: darkorange;
    position: absolute;
    left: 0;
    top : 0;
}